ANTHROPIC_API_KEY=
OPENAI_API_KEY=
META_ADS_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_PIXEL_ID=
JWT_SECRET=
DATABASE_URL=
ZAPI_INSTANCE_ID=
ZAPI_TOKEN=
ZAPI_CLIENT_TOKEN=
ZAPI_BASE_URL=https://api.z-api.io
ADMIN_WHATSAPP=5511918253788
PORT=3000
GOOGLE_SERVICE_ACCOUNT_JSON=/Users/loja/Downloads/table-clinic-editor-83197d8a1211.json
